<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ClearScript" version="7.2.2" targetFramework="net472" />
  <package id="Microsoft.ClearScript.Core" version="7.2.2" targetFramework="net472" />
  <package id="Microsoft.ClearScript.V8" version="7.2.2" targetFramework="net472" />
  <package id="Microsoft.ClearScript.V8.ICUData" version="7.2.2" targetFramework="net472" />
  <package id="Microsoft.ClearScript.V8.Native.win-x64" version="7.2.2" targetFramework="net472" />
  <package id="Microsoft.ClearScript.V8.Native.win-x86" version="7.2.2" targetFramework="net472" />
  <package id="Microsoft.ClearScript.Windows" version="7.2.2" targetFramework="net472" />
  <package id="Microsoft.ClearScript.Windows.Core" version="7.2.2" targetFramework="net472" />
  <package id="Microsoft.Win32.SystemEvents" version="5.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.Diagnostics.PerformanceCounter" version="5.0.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Channels" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
</packages>